.link{
    color: aqua;
    clear: both;
}
.image{
    float: left;
    margin-top: 20px;
    width: 780px;
    border: 2px solid #ccffaa ;
}
.date{
    float: right;
    margin-right: 110px;
    color: #1C86DC;
}
.number{
    padding-left: 100px;
}
.comment{
    width: 530px;
    border: 2px solid #ccffaa;
    margin-top: 20px;
    margin-left: 20px;
    height: 303px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}
.commentText{
    color: #1C86DC;
    width: 340px;
    height: 130px;
    max-width: 410px;
    max-height: 198px;

}
.buttonRecomment{
    background-color: #AEE6EC;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    height: 30px;
    cursor: pointer;
}

